@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700;&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@300;400;700&display=swap');

:root {
  --bg-color-dark: #262633;
  --bg-color-white: #ffffff;
  --bg-color-gray: rgb(225, 225, 225);

  --transition-3s: all .3s ease-in-out;
  --transition-4s: all .4s ease-in-out;

  --font-body: 10px;
  --font-body-bigger: 12px;
  --font-sub-title: 14px;
  --font-title-greater: 18px;
  --font-title: 128px;
}

.heading, h1, h2, h3, h4, h5, h6 {
  font-family: Playfair Display, serif;
  font-weight: bold;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Raleway", sans-serif;
  font-size: .90rem;
  letter-spacing: 1px;
  width: 100vw;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

/* @media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
} */

section {
  margin: 0 7.5rem;
}

/* header section */
.navigation {
  width: 100%;
  position: fixed;
  top: 0;
  background: var(--bg-color-white);
  z-index: 9999;
}

.navigation-mobile {
  display: none;
}

.navigation-desktop {
  display: flex;
  flex-direction: column;
}

.nav-secondary {
  display: flex;
  justify-content: flex-end;
  height: 2rem;
  align-items: center;
  border-bottom: 1px solid var(--bg-color-gray);
}

.secondary-info > a {
  font-weight: 300;
  font-size: 12px;
  padding-right: 10px;
}

.nav-primary {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 1rem;
}

.nav-primary-links {
  display: flex;
  align-items: center;
}

.links-list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 1.5rem;
}

.links-list > li {
  list-style-type: none;
  font-weight: 400;
  text-transform: uppercase;
  font-size: 10px;
  padding: .5em 0;
  border-bottom: 1px solid #ffffff;
  transition: all .3s ease-in-out;
}

.links-list > li:hover {
  border-bottom: 1px solid #acacac;
}

.nav-primary-logo {
  cursor: pointer;
}

.wrapper-links {
  display: flex;
  justify-content: space-between;
}

.nav-button {
  padding: 1rem 3rem;
  border: none;
  outline: none;
  border-radius: 0;
  background-color: #262633;
  color: #ffffff;
  letter-spacing: 2px;
  font-size: 12px;
  cursor: pointer;
  transition: all .3s ease-in-out;
}

.nav-button:hover {
  background-color: #ffffff;
  border-bottom: 2px solid #262633;
  color: #262633;
}

.dropdown-child .chevron-icon {
  width: 10px;
  color: #262633;
}
/* end header section */

/* footer section */
footer {
  background-color: var(--bg-color-dark);
}

.social-media-links {
  display: flex;
  gap: 1em;
}

.social-media-links > li {
  list-style-type: none;
}

.footer-identity {
  display: flex;
  justify-content: space-between;
  padding: 2rem 0;
  border-bottom: 1px solid var(--bg-color-white);
}

.single-menu h3 {
  color: var(--bg-color-white);
  font-weight: 300;
  font-size: var(--font-body-bigger);
  text-transform: uppercase;
}

.single-menu ul {
  padding-inline-start: 0;
}

.single-menu ul > li {
  list-style-type: none;
  color: var(--bg-color-white);
  font-weight: 300;
  font-size: var(--font-body-bigger);
  padding-bottom: 1.2em;
  opacity: .5;
}

.privacy-policy {
  display: flex;
}

.privacy-policy .policy {
  color: var(--bg-color-white);
  font-size: var(--font-body-bigger);
  font-weight: 300;
}

.copyrights {
  border-bottom: none;
}

.copyright {
  color: var(--bg-color-white);
  font-weight: 300;
}
/* end footer section */

/* .wrapper-main  {
  height: 100vh;
} */

.section-wrapper {
  padding-bottom: 4rem;
}

.hero-section {
  margin-top: 8rem;
  display: inline-flex;
  overflow: hidden;
  width: 100%;
}

.hero-section .hero-links {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  padding: 1.5rem 1rem;
}

.hero-links .heading-caps {
  text-orientation: mixed;
  writing-mode: vertical-lr;
  margin-top: 3rem;
  text-decoration: none;
  transform: rotate(180deg);
}

.hero-main {
  position: relative;
  width: 100%;
}

.hero-main .hero-overlay {
  position: relative;
}

.hero-overlay .hero-desktop {
  min-width: 100%;
  display: flex;
  flex-direction: column;
  padding: 72px 20px 136px;
}

.hero-desktop .heading {
  position: relative;
  z-index: 10;
  font-size: var(--font-title);
  color: var(--bg-color-white);
  line-height: 1;
  margin: 0;
}

.hero-desktop .text {
  margin-right: 38rem;
  padding: 1rem 9rem;
}

.hero-desktop .body-text {
  position: relative;
  z-index: 9;
  color: var(--bg-color-white);
  font-weight: 300;
  font-size: var(--font-title-greater);
  font-size: 24px;
  line-height: 32px;
  letter-spacing: .05em;
}

.video-background {
  position: absolute;
  display: flex;
  height: auto;
  min-height: 100%;
  width: 100%;
  object-fit: cover;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  align-items: stretch;
}

.home-intro-section {
  display: flex;
  flex-direction: column;
  padding: 5rem 0;
}

.secondary-text {
  width: 28rem;
  text-transform: uppercase;
  font-weight: 500;
  letter-spacing: 0.15em;
  font-size: .75rem;
  line-height: 1.5;
  color: var(--bg-color-dark);
}

.home-intro-section .home-intro-title {
  font-size: 8.12rem;
  line-height: 8.12rem;
  margin: 0;
  width: 91%;
  color: var(--bg-color-dark);
}

.home-intro-section .intro-container {
  position: relative;
  top: -2.75rem;
  height: auto;
  z-index: -1;
  background: rgba(220,220,221,.3);
  max-width: 80vw;
  padding: 5rem 15rem;
  margin-left: 0 !important;
}

.home-intro-section .intro-container > p {
  font-weight: 300;
  line-height: 2;
  font-size: 1rem;
}

.home-intro-section .title-section {
  margin: 0 7.5rem;
}

.intro-container .intro-content-bottom {
  padding: 0.25rem 1rem 0;
  font-weight: 300;
  font-size: 1.875rem;
  line-height: 2.8125rem;
  margin: 0;
}

.residence-section {
  width: 100%;
}

.residence-maps {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 0 7.5rem;
}

.residence-map_heading {
  width: 60%;
}

.residence-map_heading .sub-heading {
  font-size: 3.5rem;
  line-height: 4rem;
  margin: 0;
  color: var(--bg-color-dark);
}

.residence-map_copy {
  width: 40%;
}

.intro-content {
  font-weight: 300;
  line-height: 1.5;
  font-size: 1rem;
}

.image {
  width: 100%;
  height: 80vh;
  background-size: cover;
  object-fit: cover;
}

.image-1 {
  background-image: url('/images/lodges-hotels/Lion_Sands_Ivory_Lodge_3_Villa_Private_Deck_and_Plunge_Pool7.jpeg');
  background-size: cover;
  background-position: center;
  width: 100%;
  object-fit: cover;
}

.image-2 {
  background-image: url('/images/lodges-hotels/Marataba_Safari_Lodge_Tented_Suite_3_Views-2.jpeg');
  background-size: cover;
  background-position: center;
  width: 100%;
  object-fit: cover;
}

.image-3 {
  background-image: url('/images/lodges-hotels/Stanley___Livingston_2_Guest_Lounge_Area-1.jpeg');
  background-size: cover;
  background-position: center;
  width: 100%;
  object-fit: cover;
}

.lodges-hotels-slider {
  width: 100%;
}

/* flickity */
.flickity-prev-next-button {
  border-radius: 0 !important;
}

.flickity-prev-next-button.next {
  right: 0 !important;
}
.flickity-prev-next-button.previous {
  left: 0 !important;
}

.outer-wrapper-carousel {
  margin: 6rem 0;
}

.carousel-cell {
  padding: 1rem 6rem;
  display: flex;
  justify-content: flex-start;
  bottom: 0;
  align-items: flex-end;
  width: 66%;
  margin-right: 10px;
  position: relative;
}

.overlay-carousel {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--bg-color-dark);
  opacity: .2;
}

.carousel-cell .inner-wrapper {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 10;
}

.flickity-page-dot {
  height: 4px !important;
  width: 20px !important;
  border-radius: 0 !important;
}

.text-carousel .subtitle {
  text-transform: uppercase;
  color: var(--bg-color-white);
  font-weight: 300;
  font-size: var(--font-body-bigger);
}

.text-carousel .title {
  font-size: 1.875rem;
  line-height: 2.5rem;
  color: var(--bg-color-white);
  margin-bottom: 0;
}

.text-carousel .carousel-text-body {
  font-size: var(--font-sub-title);
  color: var(--bg-color-white);
  font-weight: 300;
  margin-top: 0;
  margin-bottom: 2rem;
}

.button-carousel .btn {
  border: 1px solid var(--bg-color-white);
  outline: none;
  background: transparent;
  padding: 1rem 2rem;
  cursor: pointer;
  color: var(--bg-color-white);
  text-transform: uppercase;
  letter-spacing: .2em;
  font-size: var(--font-body);
}
/* end flickity */

.experience-section {
  margin-top: 10rem;
}

.experience-title {
  margin: 0 20rem;
}

.experience-title .sub-head {
  font-size: 3.5rem;
  line-height: 4rem;
  margin: 0;
  color: var(--bg-color-darks);
}

.experience-wrapper {
  width: 100%;
  display: flex;
  position: relative;
  padding: 0;
}

.experience-wrapper .experience-text {
  width: 40%;
  background-color: var(--bg-color-white);
  padding: 4rem;
  top: 0;
  right: 5rem;
  margin: 0 0 5rem 0;
  position: absolute;
}

.experience-text .slider-title {
  font-size: 2rem;
  line-height: 3rem;
  margin-top: 1.125rem;
  margin-bottom: 1rem;
  font-weight: 400;
}

.experience-text hr {
  width: 0.125rem;
  height: 3.125rem;
  border: none;
  background-color: #262633;
  margin: 0;
}

.image-experience-1 {
  width: 65%;
  height: 80vh;
  background-image: url("/images/experience/Lion_Sands_Chalkley_Treehouse_4_Evening_Bedroom_View.jpeg");
  background-size: cover;
  object-fit: cover;
}

.image-experience-2 {
  width: 65%;
  height: 80vh;
  background-image: url("/images/experience/Lion_Sands_Chalkley_Treehouse_4_Sundowners__1_.jpeg");
  background-size: cover;
  object-fit: cover;
}

.image-experience-3 {
  width: 65%;
  height: 80vh;
  background-image: url("/images/experience/Marataba_Safari_Lodge-Mack___Madi-Activities.jpeg");
  background-size: cover;
  object-fit: cover;
}